[submodule "Libft"]
	path = Libft
	url = https://github.com/samreerink/Libft.git
[submodule "MLX42"]
	path = MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "MLX42_animation"]
	path = MLX42_animation
	url = git@github.com:samreerink/MLX42_animation.git
